
  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
audio{
    margin-left: 70%;
    margin-top: 80px;
}

/*change navbar style on scroll usein js*/
.window-scroll{
    background: rgb(244, 244, 252) ;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.nav__container h1{
    color: rgb(104, 33, 104);
    text-align: center auto;
    font-size: 20px;
    margin-left: 40%;
    font-family: 'Kaushan Script', cursive;;
    text-decoration: overline;
}

.header_img img{
    height: 80vh;
   width: 100%;
}
h1{
    font-size: 20px solid;
}
.desc_section{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    background: rgb(236, 229, 229);
    height: 200vh;
    border-radius: 10px;
    box-shadow: inset 0 0 -2rem rgba(131, 128, 128, 0.5);
    padding: 20px;
}
.desc_section h1{
    font-size: 20px;
    padding-bottom: 10px;
}
.desc_section h2{
    color: red;
    font-size: 17px;
    text-decoration: underline;
    padding-top: 40px;
}
.desc_section .dav{
padding-left: 50px ;
padding-top: 10px;
position: relative;
}
.desc_section img{
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    text-decoration: underline;
}
.header__desc{
    padding: 20px;
    padding-top: 60px;
}
.header__desc h1{
    font-size: 20px;
    text-align: center;
}
.header__desc h2{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    color: red;
    font-weight: bolder;
}
.desc_section p{
text-align: justify;
padding-right: 30px;
padding-top: 10px;
font-size: 20px;
line-height: 25px;
padding-bottom: 20px;
}
.desc_section a{
    text-decoration: none;
    margin-top: 20px;
    color: rgb(59, 2, 59);
}
.desc_section span{
    text-decoration: double line-through;
}
.payment__btn{
    height: 40px;
    width: 50px;
    border-radius: 2px;
}

.btn {
    display: inline-block;
    background: rgb(65, 1, 65);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: 2sec;
    border-radius: 7px;
    margin-left:60% ;
    
}
.payment__link a{
    color: white;
    margin-bottom: 50px;
}
.payment__link p{
    font-size: 30px;
    padding-top:20px ;
}
